.page {
    background-color: var(--branco);
    height: 11.5in;
    width: 8.5in;
    margin: 0 auto;
}

.pdf {
    height: 95%;
    width: 95%;
    display: flex;
    flex-direction: column;
    margin: 5px 10px;
}

/* BANNER */

.banner-pdf {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.logo-img, .logo-img img {
    height: 120px;
    width: 120px;
}

.titulo {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 75%;
}

.titulo h1 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.titulo h2 {
    font-size: 16px;
    margin: 0;
}

.remarcado-box {
    background-color: green;
    display: flex;
    align-items: center;
    height: 50px;
    padding: 5px;
}

.remarcado-box h3 {
    color: white;
}

.informacao-box {
    width: 85%;
    margin: 0 auto;
}

.informacao-box p {
    margin-bottom: 0;
}

/* TÍTULO DE SEÇÃO */

.secao-box {
    display: flex;
    flex-direction: row;
    margin: 10px auto;
    width: 750px;
}

.secao-box p {
    background-color: var(--azul);
    color: var(--branco);
    font-size: 13px;
    margin: 0;
    padding: 0 5px;
    width: 30%;
}

.secao-linha {
    width: 65%;
    height: 50%;
    border-bottom: 1px solid var(--preto);
}

/* DADOS DO LAUDO */

.dados-laudo {
    display: flex;
    flex-direction: row;
    font-size: 12px;
    margin: 2px;
}

.dados-laudo-titulo {
    font-weight: bold;
    margin: 0px 5px 0px 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.dados-laudo-titulo p {
    margin: 0;
}

.dados-laudo-info {
    margin: 0px 15px 0px 5px;
}

.dados-laudo-info p {
    margin: 0;
}

/* FOTOS DO LAUDO */

.fotos-laudo {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    margin: 5px auto;
    gap: 25px;
}

.fotos-laudo-content {
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}

.fotos-laudo-content img {
    height: 180px;
    width: 300px;
}

.fotos-laudo-content p {
    margin: 0;
}

/* DECALQUE */

.decalque {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.decalque h3 {
    font-size: 20px;
    font-weight: bold;
}

.decalque-box {
    border: 1px solid black;
    width: 90%;
    height: 70px;
}

/* ASSIN. E RODAPÉ */

.assinatura {
    display: flex;
    flex-direction: row;
    align-items: start;
    margin: 5px;
}

.assinatura-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 45px;
}

.assinatura-assinar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 200px;
}

.assinar-linha {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.assinar-linha::before {
    content: "";
    width: 300px;
    border-bottom: 1px solid var(--preto);
    position: absolute;
}

.assinatura p {
    margin-bottom: 2px;
}

.rodape {
    display: flex;
    flex-direction: row;
    justify-content: center;   
    margin-top: 10px;
}

.rodape:before {
    content: "";
    width: 8.5in;
    border-bottom: 1px solid var(--preto);
    position: absolute;
}